body {
    font-size: 12px;
   /* font-family: Times New Roman;*/
}

.page {
    border-radius: 10px;
    display: block;
    background-color: white;
    padding: 10px;
    width: 100%;
}

h3 {
    text-align: center;
}

html {
    background: #F1F1F1;
}

table,
td,
th {
    padding: 5px;
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: left;
}

.n {
    text-align: center;
}

table {
    width: 100%;
}

.language-java {
    font-size: 12px;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    .page {
        padding: 5px;
    }
    
    table,
    td,
    th {
        padding: 3px;
    }
    
    .language-java {
        font-size: 12px;
    }
}

pre{border:1px dashed #333;}
code {
  /* Styles for <code> tags */
  /* Add your desired styles here */
  font-weight:bold;
}

code[class] {
  /* Styles for <code> tags with classes */
  /* Override or remove any conflicting styles here */
}
h2{color:#4300F7!important;font-family:Robotto;text-align:center;}